* {
  margin: 0;
}
.header{
  background-color:white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
.App{
  background-color: #fafafa;
  height: 100vh;
}
.header_Img{
  width: 180px;
  height: 50px;
}